.menu-background {
	background-image: url("green_background.jpeg");
	background-size: 100% 100%;
	min-height: 100vh;             /* Full viewport height */
}

.check_login{
	align-items: center;
	text-align: center;
	font-size: 150px;
	border: 6px solid black;
	height: 250px;
}

#username{
	font-size: 50px;
}
#play_button{
	align-items: center;
	text-align: center;
	font-size: 60px;
}

button{
	align-items: center;
	text-align: center;
}

.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #04AA6D;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	width: 200px;
}

.button:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

h1{
	font-size: 200px;
}

h2{
	max-width: 100%;
	text-align: center;
	align-items: center;
	background-color: lightgrey;
	width: 500px;
	border: 15px solid green;
	padding: 30px;
	margin: 0 auto;

}

#menu_title{
	font-size: 100px;
}

table {
	max-width: 100%;
	background: white;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	align-items: center;
	transition: transform 0.2s ease-in-out;

}
.table1:hover {
	transform: scale(1.1);
}
/* For transparent table*/
/*https://www.perplexity.ai/search/is-there-a-way-to-make-a-table-3bwLHFkySiqpIeHlRhGjMQ?sm=d*/
td, th {
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3); 
	text-align: center;
	padding: 8px;
	font-size: 20px;
}

.td0, .th1{
	border: 5px solid #dddddd;
	text-align: center;
	padding: 8px;
	font-size: 20px;
}

#logout_link{
	color: DarkGray;
}
#logout_link:hover{
	color: white;
}

.nav-link{
	color: White !important;
}
.nav-link:hover{
	color: lightgrey !important;
}


.collapsible {
	background-color: #555;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active, .collapsible:hover {
	background-color: grey;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

a.link{
	color: black !important;
	text-decoration: none !important;
}
a.link:hover{
	color: grey !important;
	text-decoration: none !important;
}




#table1, #td1 {
    background-color: rgba(0, 0, 0, 0.4); 
	border-collapse: collapse;
	border: 1px solid black;
	width:800px;
	margin: 0 auto;
}

.tr1{
	height:200px;
}

input {
	text-align: center;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game_background{
	background-size: 100% 100%;
	min-height: 100vh;   
}