.menu-background {
  background-image: url("green_background.jpeg");
  background-size: cover;
  min-height: 100vh;             /* Full viewport height */
}




.check_login{
align-items: center;
text-align: center;
font-size: 150px;
border: 6px solid black;
height: 250px;
}

#username{
	font-size: 50px;
}
#play_button{
	align-items: center;
	text-align: center;
	font-size: 60px;
	
	
}

button{
	align-items: center;
	text-align: center;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 200px;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1{
font-size: 200px;

}

#menu_title{
	font-size: 100px;
}

table, th, td {
  border:1px solid black;
  text-align: center;
  width: 50%;
  margin-left:25%;
  
}

