{% extends "layout.html" %}

{% set active_page = "menu" %}

{% block title %}Menu Page{% endblock %}

{% block content %}
<div class="menu-background">

 <center><p id='menu_title'>Menu</p></center>
 
 


<form action="/play" method="POST">
<li id='play_button'>
<button type="submit" class="button">Play</button>
</li>
</form>





















<!--{% if logged_in %}

	    	<li><span class="navbar-text">Username: {{ session['user_data']['login']}}</span></li>
	    	<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
		{% endif %}-->










<br>
<br>
<table>
  <tr>
    <th>Character</th>
    <th>All Time Wins</th>
  </tr>
  <tr>
    <td> X </td>
    <td> TBD </td>
  </tr>
  <tr>
    <td> O </td>
    <td>TBD</td>
  </tr>
</table>




</div>
{% endblock %}
